-var itemsName = ["One", "Two", "Three", "Four"]
-var countBrNews = 0
-var space = " "
-
	var leftSideData =
		[
			"'Death Star' Vaporizes Its Own Planet",
			"NASA's SLS Rocket Sheds Saturn V Color Scheme in Design Review",
			"Ingredients for Life Were Always Present on Earth, Comet Suggests",
			"Astronaut's Watch Worn on the Moon Sells for Record $1.6 Million",
			"Interstellar Dust on the Galaxy's Magnetic Field | Space Wallpaper",
			"Explore the Moon (Virtually) with These Awesome Global Maps",
			"Best Space Books and Sci-Fi: A Space.com Reading List"
		]
-
	var socialData = 
		[
			{
				num: "56,009",
				media: "fi-social-facebook"
			},
			{
				num: "76,905",
				media: "fi-social-twitter"
			},
			{
				num: "34,099",
				media: "fi-social-instagram"
			},
			{
				num: "13,765",
				media: "fi-social-tumblr"
			},
			{
				num: "9,283",
				media: "fi-social-pinterest"
			},
			{
				num: "99,000",
				media: "fi-social-youtube"
			}

		]
-
	var postArticles = 
		[
			"All I need is a space suit and I'm ready to go.",
			"Are the stars out tonight? I don't know if it's cloudy or bright.",
			"And the world keeps spinning.",
			"Cold hearted orb that rules the night.",
			"All I need is a space suit and I'm ready to go.",
			"Are the stars out tonight? I don't know if it's cloudy or bright.",
			"And the world keeps spinning.",
			"Cold hearted orb that rules the night."
		]